<link rel="stylesheet" href="../../../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../../../assets/css/site.css" />
<link rel="stylesheet" href="../../../../assets/css/style.css" />
<hr class="footer" />
<footer style="font-family: Arial, Helvetica;" id="footer">
    <p>
        © 2021 PricewaterhouseCoopers India Private Limited. All rights reserved. In this document, PwC refers to PricewaterhouseCoopers India Private Limited, which is a member firm of PricewaterhouseCoopers International Limited, each member firm of which is a separate legal entity.
    </p>
</footer>