.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    width: 250px;
  }
  
  .sidebar .nav-item {
    width: 100%;
  }
  .bg-dark{
    background-color: #d04a02 !important;
  }
  
  @media (min-width: 250px) .ml-sm-auto, .mx-sm-auto {
      margin-left: auto !important;
  }
  .card-style{
    box-shadow: 1px 1px 1px 1px #7d7d7d;
  }
  .custom-card{
    border-radius: 0rem !important;
    background-color: #ffffff;
    width: 184px;
  }
  .card-status-green{
    background-color: #175d2d;
    color: #ffffff;
  }
  .card-status-red{
    background-color: #e0301e;
    color: #ffffff;
  }
  .card-status-yellow{
    background-color: #ffb600;
    color: #ffffff;
  }

/* Text decoration display */

div.slide-right h5{
  -moz-animation: 10s slide-right;
  -webkit-animation: 10s slide-right;
  -o-animation: 10s slide-right;
  animation: 10s slide-right;
  margin:0;
}
div.slide-left h5{
  -moz-animation: 10s slide-left;
  -webkit-animation: 10s slide-left;
  -o-animation: 10s slide-left;
  animation: 10s slide-left;
  margin:0;
}
@-webkit-keyframes slide-right { from { margin-left: 40%;width: 100%; }
  to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-right { from { margin-left: 40%;width: 100%; }
  to {margin-left: 0%;width: 100%;} }
 @-o-keyframes slide-right { from { margin-left: 40%;width: 100%; }
  to {margin-left: 0%;width: 100%;} }
@keyframes slide-right { from { margin-left: 40%;width: 100%; }
  to {margin-left: 0%;width: 100%;} }

@-webkit-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: 0%;width: 100%;} }
@-moz-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: 0%;width: 100%;} }
@-o-keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: 0%;width: 100%;} }
@keyframes slide-left { from {margin-left: 0%;width: 100%;}
 to {margin-left: 0%;width: 100%;} }

 .highcharts-label.highcharts-no-data{
   display: none !important;
 }


/* Side nav with sub menu*/

.cutom-treestructure {
  margin: 0;
  padding-left: 25px;
  line-height: 2em;
  list-style: none;
  background-color: #fff;
}
.cutom-treestructure li {
  position: relative;
}
.cutom-treestructure li:before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 15px;
  height: 1em;
  content: "";
  border-bottom: 1px dotted #666;
  border-left: 1px dotted #666;
}
/* hide the vertical line on the first item */
ul.tree > li:first-child:before {
  border-left: none;
}
.cutom-treestructure li:after {
  position: absolute;
  top: 1.1em;
  bottom: 1px;
  left: -15px;
  display: block;
  content: "";
  border-left: 1px dotted #666;
}

/* hide the lines on the last item */
.cutom-treestructure li:last-child:after {
  display: none;
}

/* inserted via JS  */
.js-toggle-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 14px;
  margin-right: 2px;
  margin-left: -23px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 2px;
}


/* Text highligting*/
.greenStatus {
  position: relative;
}
.greenStatus:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 95%;
  height: 55%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 13px;
  left: 0;
  background: linear-gradient(to top, #175d2d 50%, transparent 50%);
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* Make the animation run back and forth */
}

.yellowStatus {
  position: relative;
}
.yellowStatus:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 95%;
  height: 55%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 13px;
  left: 0;
  background: linear-gradient(to top, #ffb600 50%, transparent 50%);
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* Make the animation run back and forth */
}

.redStatus {
  position: relative;
}
.redStatus:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 95%;
  height: 55%;
  z-index: -1; /* Place the pseudo element right under the content */
  top: 13px;
  left: 0;
  background: linear-gradient(to top, #e0301e 50%, transparent 50%);
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* Make the animation run back and forth */
}

@keyframes highlight {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

}

/* Custom filter */
  
.dropdown-button{
  width: 150px;
  border: 1px solid #aa2417;
  border-radius: 0px !important;
  background-color: #aa2417;
  color: #ffffff;
  height: 32px;
  font-size: 12px;
  padding-bottom: 10px;
  margin-left: -5%;
}
.dropdown-label{
color: #000000;
font-size: 12px;
}

.custom-li{
height: 21px !important;
padding-top: 3px;
text-align: initial;
}

.dropdownmenu{
  height: 110px;
  /* overflow-y: scroll; */
  width: 152px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: #ffffff; */
}
.btn.focus, .btn:focus{
box-shadow: none !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background-color: #ebebeb;
-webkit-border-radius: 10px;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: #6d6d6d; 
}
ul{
list-style: none;
}
.form-control:focus{
box-shadow: none !important;
}