<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="modal fade" id="recommendationModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recommendationModalTitle">{{recommendationModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 400px; overflow-y: scroll;">
        <div role="tabpanel">
          <ul class="nav nav-pills nav-fill" role="tablist">
              <li role="presentation" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#lowEfficiency" aria-controls="lowEfficiency" role="tab" data-toggle="tab" (click)="getRecommendation('195,196,197,198,199,200,201,202,203,204,205')">Overall Recommendations</a>
              </li>
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="lowEfficiency">
                <div #TABLE #table class="mt-2">
                  <button (click)="ExportToExcelLowEfficiency()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                                Reasons
                            </th>
                            <th style="width: auto">
                              SubReasons
                            </th>
                            <th style="width: auto">
                              Recommendations
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let ndx = index">
                            <td>
                              <div innerHTML="{{item.Reasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.SubReasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.Recommendations}}"></div>
                            </td>
                           
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li (click)="processNavigation()" style="cursor: pointer;">
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="dashboardsection">
    <div class="row">
      <div class="col-2 mt-2">
        <a style="font-weight: bold; font-size: 15px; cursor: pointer;" (click)="backToPrevious()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
      </div>
      <div class="col-7">
        <h6 style="text-align: center; font-weight: bold;">{{headerTextValue}}</h6>
        <h6 class="ml1">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters" style="font-style: italic; color: #d04a02;">Please click each button below to view detailed analysis</span>
            <span class="line line2"></span>
          </span>
        </h6>
      </div>
      <div class="col-3 mt-2" style="text-align: start;">
        <button class="custom-button ml-4" style="font-weight: bold;" (click)="navigateToSewingHistorical()">Last 30 days Data</button>
      </div>
    </div>
    
    <div class="row mt-1">
      <div class="col-9">
        <div class="row align-items-center mt-1">
          <div class="col-3" id="efficiencyVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" (click)="navigateEfficiency()" style="cursor: pointer;">Efficiency %</button></div>
              <div class="ml-2" #efficiencyContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="capacityVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" style="cursor: pointer; font-size: 13px;"  (click)="navigateCapacityUtilization()"data-toggle="tooltip" data-placement="top" title="Capacity Utilisation(Actual Vs Planned Prodctn.)">Capacity Utilization%</button></div>
              <div class="ml-2" #capacityUtilizationContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="absentismVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" style="cursor: pointer;" (click)="navigateAbsentismUtilization()">Absenteeism %</button></div>
              <div class="ml-2" #absentismContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="defectVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" (click)="navigateDefectPercentage()" style="cursor: pointer;">Defect%</button></div>
              <div class="ml-2" #defectContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-2">
          <div class="col-3" id="dhuVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" (click)="navigateDHU()" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Defects Per Hundred Units">DHU</button></div>
              <div class="ml-2" #dhuContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="wipVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" (click)="navigateInlineWIP()" style="cursor: pointer;">Inline WIP Level</button></div>
              <div class="ml-2" #wipContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="machineDowntimeVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" (click)="navigateMachineDowntime()" style="cursor: pointer;">Downtime%</button></div>
              <div class="ml-2" #machineDowntimeContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          <div class="col-3" id="rejectionVisual" style="display: none; height: auto; min-height: max-content;">
            <div class="d-flex flex-column">
              <div class="pb-2"><button class="custom-button" style="cursor: pointer;" (click)="navigateRejection()">Rejection%</button></div>
              <div class="ml-2" #rejectionContainer style="height: 190px; width: 151px;"></div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-3 mt-2">
        <div class="d-flex flex-column mb-3">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -36%;">Select Locations</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownLocationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu">
                          <li class="custom-li" *ngFor="let option of locationOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2">
                                <input name='options[location]' (change)="onLocationChange($event)" type="radio" class="option justone location" [value]="option.Id" [id]="'location_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -54%;">Select Unit</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownUnitMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of unitOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2 unit_label" [id]="'unit_label_' + option.Id" style="display: none;">
                                <input name='options[unit]' (change)="onUnitChange($event)" type="radio" class="option justone unit" [value]="option.Id" [id]="'unit_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select Lines</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownLineMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li">
                            <a class="dropdown-label" href="#">
                              <label class="ml-2 line_label" style="display: none;" id="line_label_1">
                                <input class="option justone line" (change)="onLineChange($event)" name="options[line]" type="radio" value="1" id="line_1"> Line1 
                              </label>
                            </a>
                          </li>
                          <li class="custom-li">
                            <a class="dropdown-label" href="#">
                              <label class="ml-2 line_label" style="display: none;" id="line_label_2">
                                <input class="option justone line" (change)="onLineChange($event)" name="options[line]" type="radio" value="2" id="line_2"> Line2 
                              </label>
                            </a>
                          </li>
                          <!-- <li class="custom-li" *ngFor="let option of lineOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2 line_label" [id]="'line_label_' + option.Id" style="display: none;">
                                <input name='options[line]' type="radio" class="option justone line" [value]="option.Id" [id]="'line_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">Start Date</span>
                    <input type="date" placeholder="Start Date" id="startDate" value="2021-01-31" min="2021-01-01" max="2021-01-31">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">End Date</span>
                    <input type="date" placeholder="End Date" id="endDate" value="2021-01-31" min="2021-01-01" max="2021-01-31">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <button class="custom-button ml-2" (click)="getSewingKPIAnalysis()">Show Analysis</button>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select KPI</span>
                    <select class="form-control" id="kpiList" [(ngModel)]="selectedKPI" style="font-size: small;" (change)="changeKPIValue($event)">
                      <option *ngFor="let element of kpiMasterData" [value]="element.Id" style="font-size: small;">{{element.Name}}</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <button class="custom-button ml-2" data-toggle="modal" data-target="#recommendationModal" (click)="getAllRecommendations()">Recommendations</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
