<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/sewing-module">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <h4 class="text-sm-center mt-2 ml-5" style="color: #ffffff;">Digital Diagnostic Tool</h4>
  </div>
</nav>
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar mt-5">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="overallperformance" data-toggle="pill" (click)="tabNavigation($event)"><span id="overallperformance_span" class="d-none d-md-inline font-weight-bold">Module Performance</span></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="operationmodule" data-toggle="pill" (click)="tabNavigation($event)"><span id="operationmodule_span" class="d-none d-md-inline font-weight-bold">Operation Module</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="process" data-toggle="pill" (click)="tabNavigation($event)"><span id="process_span" class="d-none d-md-inline font-weight-bold">Process</span></a>
    </li> -->
  </ul>
</nav>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 main">
  <section class="text-center placeholders" id="dashboardsection">
    <div class="tab-pane fade show active hide-show" id="overallperformance" role="tabpanel" aria-labelledby="OverallPerformance-tab">
      <h3 class="text-center">Sewing KPI(s) </h3>
      <hr class="footer" />
      <div class="row align-items-center h-100">
        <div class="col-4">
          <label>Select Year</label>
          <select class="form-control" [(ngModel)]="selectedYear" (change)="getSewingKPIAnalysis()">
            <option *ngFor="let option of year" [value]="option.id">
              {{option.name}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label>Select Month</label>
          <select class="form-control" [(ngModel)]="selectedMonth" (change)="getSewingKPIAnalysis()">
            <option *ngFor="let option of month" [value]="option.id">
              {{option.name}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label>Select Line</label>
          <select class="form-control" [(ngModel)]="selectedLine" (change)="getSewingKPIAnalysis()">
            <option *ngFor="let option of line" [value]="option.id">
              {{option.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row align-items-center h-100 mt-2">
        <div class="col-4 mt-3" *ngFor="let element of kpiCards; let i = index">
          <div class="card card-style" [ngStyle]="{'background-color': element.backgroundColor}">
            <div class="card-body text-center">
              <h6 class="card-title text-white">{{element.kpiname}}</h6>
              <p class="card-text text-white">{{element.weightageScore}}</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-4 mt-2">
          <div class="card card-style card-status">
            <div class="card-body text-center">
              <h6 class="card-title text-white">Defects Per Hundred Units (D.H.U.)</h6>
              <p class="card-text text-white">Status: Green</p>
            </div>
          </div>
        </div>
        <div class="col-4 mt-2">
          <div class="card card-style card-status">
            <div class="card-body text-center">
              <h6 class="card-title text-white">Defect %</h6>
              <p class="card-text text-white">Status: Green</p>
            </div>
          </div>
        </div>
        <div class="col-4 mt-2">
          <div class="card card-style card-status">
            <div class="card-body text-center">
              <h6 class="card-title text-white">Rejection %</h6>
              <p class="card-text text-white">Status: Green</p>
            </div>
          </div>
        </div> -->
      </div>

      <div class="row align-items-center h-100 mt-3">
        <!-- <div class="col-4">
          <div class="card card-style card-status">
            <div class="card-body text-center">
              <h6 class="card-title text-white">Rejection %</h6>
              <p class="card-text text-white">Status: Green</p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-4">
          <div class="card card-style">
            <div class="card-body text-center">
              <div [chart]="socialSustainabilityGaugeFormat"></div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card card-style">
            <div class="card-body text-center">
              <div [chart]="environmentalSustainabilityGaugeChart"></div>
            </div>
          </div>
        </div> -->
      </div>
      
    </div>
  </section>
</main>
