<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="modal fade" id="recommendationModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recommendationModalTitle">{{recommendationModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 400px; overflow-y: scroll;">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul  role="tablist">
              <li role="presentation" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#lowEfficiency" aria-controls="lowEfficiency" role="tab" data-toggle="tab" (click)="getRecommendation('195,196,197,198,199,200,201,202,203,204,205')"></a>
              </li>
              <!-- <li role="presentation" class="nav-item"><a class="nav-link" data-toggle="tab" href="#mediumEfficiency" aria-controls="mediumEfficiency" role="tab" data-toggle="tab" (click)="getRecommendation(7);">Medium Efficiency</a>
              </li>
              <li role="presentation" class="nav-item"><a class="nav-link" data-toggle="tab" href="#highEfficiency" aria-controls="highEfficiency" role="tab" data-toggle="tab" (click)="getOperatorsName('High');">High Efficiency</a>
              </li> -->
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="lowEfficiency">
                <div #TABLE #table class="mt-2">
                  <button (click)="ExportToExcelLowEfficiency()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                                Reasons
                            </th>
                            <th style="width: auto">
                              SubReasons
                            </th>
                            <th style="width: auto">
                              Recommendations
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let ndx = index">
                            <td>
                              <div innerHTML="{{item.Reasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.SubReasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.Recommendations}}"></div>
                            </td>
                           
                        </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <div #LowEfficiencyOperatorsTable #table class="mt-2">
                  <button (click)="ExportToExcelLowOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div> -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="mediumEfficiency" >
                <div #ModerateEfficiencyTable #table class="mt-2">
                  <button (click)="ExportToExcelModerateEfficiency()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                                Reasons
                            </th>
                            <th style="width: auto">
                              SubReasons
                            </th>
                            <th style="width: auto">
                              Recommendations
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let ndx = index">
                            <td innerHTML="{{item.Reasons}}"></td>
                            <td innerHTML="{{item.SubReasons}}"></td>
                            <td innerHTML="{{item.Recommendations}}"></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div #ModerateEfficiencyOperatorsTable #table class="mt-2">
                  <button (click)="ExportToExcelModerateOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="highEfficiency">
                <div #HighEfficiencyOperatorsTable #table class="mt-2">
                  <button (click)="ExportToExcelHighOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li>
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="dashboardsection">
    <div class="row">
      <div class="col-3 mt-2">
        <a style="font-weight: bold; font-size: 15px; cursor: pointer;" (click)="backToPrevious()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
        <a class="ml-2" style="font-weight: bold; font-size: 15px; cursor: pointer;" (click)="sewingNavigation()"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </div>
      <div class="col-3">
        <h6 style="text-align: left; font-weight: bold;">Inline WIP Summary of Operators</h6>
      </div>
      <div class="col-6" style="text-align: left;">
        <!-- <div class="col-2"> -->
        <!-- <button type="button" class="btn" (click)="getFilterData()" style="font-size: smaller;"><i class="fa fa-refresh" aria-hidden="true"></i> Clear Filter</button> -->
        <!-- </div> -->
        <button class="custom-button" data-toggle="modal" data-target="#recommendationModal" (click)="getRecommendation('195,196,197,198,199,200,201,202,203,204,205')">Recommendations</button>
        <button class="custom-button ml-2" (click)="navigateWIPOperator()">Operator Analysis</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="text-align: left;">
        <button (click)="ExportToExcelOperatorsDetails()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
      </div>
    </div>
    <!-- <h5 style="text-align: left; font-weight: bold; margin-left: 25%;">Inline WIP Summary of Operators</h5> -->
    <div class="row">
      <div class="col-12" #OperatorsTable #table style="height: 450px; overflow-y: scroll;">
        <table class="table table-striped mt-2">
          <thead class="thead-dark">
              <tr>
                <th>
                  Operator Name
                </th>
                <th>
                  Operation
                </th>
                <th>
                  Working Machine
                </th>
                <th>
                  Line
                </th>
                <th>
                  Unit
                </th>
                <th>
                  Inline WIP Level
                </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of operatorsSummaryData; let ndx = index">
                  <td>{{item.OperatorName}}</td>
                  <td>{{item.OpearationName}}</td>
                  <td>{{item.MachineName}}</td>
                  <td>{{item.Line}}</td>
                  <td>{{item.Unit}}</td>
                  <td>{{item.WIPData}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="row mt-2">
      <button class="custom-button ml-2" (click)="navigateWIPOperator()">Operator Analysis</button>
    </div> -->
  </section>
</main>
