<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="modal fade" id="recommendationModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recommendationModalTitle">{{recommendationModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 400px; overflow-y: scroll;">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-pills nav-fill" role="tablist">
              <li role="presentation" class="nav-item"><a class="nav-link active" data-toggle="tab" href="#lowEfficiency" aria-controls="lowEfficiency" role="tab" data-toggle="tab" (click)="getRecommendation(6);">Low Efficiency</a>
              </li>
              <li role="presentation" class="nav-item"><a class="nav-link" data-toggle="tab" href="#mediumEfficiency" aria-controls="mediumEfficiency" role="tab" data-toggle="tab" (click)="getRecommendation(7);">Medium Efficiency</a>
              </li>
          </ul>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="lowEfficiency">
                <div class="mb-3 mt-2" style="font-weight: bold; font-size: small;">Note: Click on each button below to see more details.</div>
                <button class="custom-button" data-toggle="collapse" data-target="#Recommendations"(click)="recommendationLowDivShow()">Recommendations</button>
                <button class="custom-button ml-3" data-toggle="collapse" data-target="#Operators" (click)="operatorLowDivShow()">Operators</button>
                
                <div id="Recommendations" #TABLE #table class="collapse mt-2" >
                  <button (click)="ExportToExcelLowEfficiency()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                                Reasons
                            </th>
                            <th style="width: auto">
                              SubReasons
                            </th>
                            <th style="width: auto">
                              Recommendations
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let ndx = index">
                            <td>
                              <div innerHTML="{{item.Reasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.SubReasons}}"></div>
                            </td>
                            <td>
                              <div innerHTML="{{item.Recommendations}}"></div>
                            </td>
                           
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div id="Operators" #LowEfficiencyOperatorsTable #table class="collapse mt-2">
                  <button (click)="ExportToExcelLowOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto;">
                              Operation
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Operation}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot> -->
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="mediumEfficiency" >
                <div class="mb-3 mt-2" style="font-weight: bold; font-size: small;">Note: Click on each button below to see more details.</div>
                <button class="custom-button" data-toggle="collapse" data-target="#ModerateRecommendations" (click)="recommendationMediumDivShow()">Recommendations</button>
                <button class="custom-button ml-3" data-toggle="collapse" data-target="#ModerateOperators" (click)="recommendationMediumivShow()">Operators</button>
                
                <div id="ModerateRecommendations" #ModerateEfficiencyTable #table class="collapse mt-2">
                  <button (click)="ExportToExcelModerateEfficiency()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                                Reasons
                            </th>
                            <th style="width: auto">
                              SubReasons
                            </th>
                            <th style="width: auto">
                              Recommendations
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data; let ndx = index">
                            <td innerHTML="{{item.Reasons}}"></td>
                            <td innerHTML="{{item.SubReasons}}"></td>
                            <td innerHTML="{{item.Recommendations}}"></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div id="ModerateOperators" #ModerateEfficiencyOperatorsTable #table class="collapse mt-2">
                  <button (click)="ExportToExcelModerateOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto;">
                              Operation
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Operation}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="highEfficiency">
                <div #HighEfficiencyOperatorsTable #table class="mt-2">
                  <button (click)="ExportToExcelHighOperators()" style="font-size: small;" class="btn custom-button">Export To Excel</button>
                  <table class="table table-striped mt-3" style="background-color: #ffffff; height: 200px; overflow-y: scroll;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: auto">
                              Name
                            </th>
                            <th style="width: auto">
                              Working Machine
                          </th>
                          <th style="width: auto">
                            Unit
                          </th>
                          <th style="width: auto">
                            Location
                          </th>
                          <th style="width: auto">
                            Line
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of operatorsDetailsList; let ndx = index1">
                            <td>{{item.Name}}</td>
                            <td>{{item.Machine}}</td>
                            <td>{{item.Unit}}</td>
                            <td>{{item.Location}}</td>
                            <td>{{item.Line}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="operatorsDetailsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="operatorsDetailsModalTitle">Operators Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 400px;">
        <table class="table table-striped" style="background-color: #ffffff;" [mfData]="operatorsDetailsList" #mf="mfDataTable" [mfRowsOnPage]="5" [mfSaveRowsOnPage]="true" (mfSelectedEntities)="setSelectedEntities($event)">
          <thead class="thead-dark">
              <tr>
                  <th style="width: auto">
                      <mfDefaultSorter [mfShowSortableArrows]="true" by="Name">Name</mfDefaultSorter>
                  </th>
                  <th style="width: auto">
                    <mfDefaultSorter by="Machine">Working Machine</mfDefaultSorter>
                </th>
                <th style="width: auto">
                  <mfDefaultSorter by="Unit">Unit</mfDefaultSorter>
                </th>
                <th style="width: auto">
                  <mfDefaultSorter by="Location">Location</mfDefaultSorter>
                </th>
                <th style="width: auto">
                  <mfDefaultSorter by="Line">Line</mfDefaultSorter>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of mf.data; let ndx = index1">
                  <td>{{item.Name}}</td>
                  <td>{{item.Machine}}</td>
                  <td>{{item.Unit}}</td>
                  <td>{{item.Location}}</td>
                  <td>{{item.Line}}</td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li>
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="dashboardsection">
    <div class="row">
      <div class="col-3 mt-2">
        <a style="font-weight: bold; font-size: 15px; cursor: pointer;" (click)="backToPrevious()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
        <a class="ml-2" style="font-weight: bold; font-size: 15px; cursor: pointer;" (click)="sewingNavigation()"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </div>
      <div class="col-7">
        <h6 style="text-align: left; font-weight: bold;">{{headerTextValue}}</h6>
      </div>
      <!-- <div class="col-2" style="text-align: start;">
        <button type="button" class="btn" (click)="getFilterData()" style="font-size: smaller;"><i class="fa fa-refresh" aria-hidden="true"></i> Clear Filter</button>
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-8">
        <h5 style="text-align: center; font-weight: bold;">Operators Efficiency Overview</h5>
      </div>
      <div class="col-4">
        <a style="font-weight: bold; cursor: pointer;" data-toggle="modal" data-target="#recommendationModal" (click)="getRecommendation(6)">Show Recommendations</a>
      </div>
    </div> -->
    
    <div class="row mt-2">
      <div class="col-9">
        <div class="row align-items-center mt-3">
          <div class="col-12">
            <div id="operatorScatter" style="width: auto; height: 480px;"></div>  
          </div>
        </div>
      </div>
      <!-- <div class="col-3 mt-3">
        <div class="d-flex flex-column mb-3">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -36%;">Select Locations</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu">
                          <li class="custom-li" *ngFor="let option of locationOptions"><a href="#" class="dropdown-label"><label class="ml-2"><input name='options[location]' (change)="onLocationChange($event)" type="checkbox" class="option justone location" [value]="option.Id" [id]="'location_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -54%;">Select Unit</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of unitOptions"><a href="#" class="dropdown-label"><label class="ml-2 unit_label" [id]="'unit_label_' + option.Id" style="display: none;"><input name='options[unit]' type="checkbox" class="option justone unit" [value]="option.Id" [id]="'unit_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select Lines</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of lineOptions"><a href="#" class="dropdown-label"><label class="ml-2 line_label" [id]="'line_label_' + option.Id" style="display: none;"><input name='options[line]' type="radio" class="option justone line" [value]="option.Id" [id]="'line_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">Start Date</span>
                    <input type="date" placeholder="Start Date" id="startDate">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">End Date</span>
                    <input type="date" placeholder="End Date" id="endDate">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <button class="custom-button ml-2" (click)="getSewingKPIAnalysis()">Show Analysis</button>
              </li>
            </ul>
          </nav>
        </div>
      </div> -->
      <div class="col-3 mt-1">
        <div class="d-flex flex-column mb-3">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item mt-1">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select Period</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownLinePeriodButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of periodOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2 period_label" [id]="'period_label_' + option.Id">
                                <input name='options[period]' (change)="onPeriodChange($event)" type="radio" class="option justone period" [value]="option.Id" [id]="'period_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item mt-5">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -36%;">Select Locations</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownLocationMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu">
                          <li class="custom-li" *ngFor="let option of locationOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2">
                                <input name='options[location]' (change)="onLocationChange($event)" type="radio" class="option justone location" [value]="option.Id" [id]="'location_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-1">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -54%;">Select Unit</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownUnitMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of unitOptions">
                            <a href="#" class="dropdown-label">
                              <label class="ml-2 unit_label" [id]="'unit_label_' + option.Id" style="display: none;">
                                <input name='options[unit]' (change)="onUnitChange($event)" type="radio" class="option justone unit" [value]="option.Id" [id]="'unit_' + option.Id"/> {{option.Name}}
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-1">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select Lines</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownLineMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li">
                            <a class="dropdown-label" href="#">
                              <label class="ml-2 line_label" style="display: none;" id="line_label_1">
                                <input class="option justone line" (change)="onLineChange($event)" name="options[line]" type="radio" value="1" id="line_1"> Line1 
                              </label>
                            </a>
                          </li>
                          <li class="custom-li">
                            <a class="dropdown-label" href="#">
                              <label class="ml-2 line_label" style="display: none;" id="line_label_2">
                                <input class="option justone line" (change)="onLineChange($event)" name="options[line]" type="radio" value="2" id="line_2"> Line2 
                              </label>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-1">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">Start Date</span>
                    <input type="date" placeholder="Start Date" id="startDate" value="2021-01-27" min="2021-01-01" max="2021-01-31">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-1">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">End Date</span>
                    <input type="date" placeholder="End Date" id="endDate" value="2021-01-31" min="2021-01-01" max="2021-01-31">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-1">
                <button class="custom-button ml-2" (click)="getSewingKPIAnalysis()">Show Analysis</button>
              </li>
              <li class="nav-item mt-1">
                <a (click)="getFilterData()" style="font-size: smaller;"><i class="fa fa-refresh" aria-hidden="true"></i> Clear Filter</a>
              </li>
              <li class="nav-item mt-1">
                <button class="custom-button ml-2" data-toggle="modal" data-target="#recommendationModal" (click)="getRecommendation(6)"> More Analysis</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>