<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li>
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="dashboardsection">
    <h5 style="text-align: center; font-weight: bold;">Operators Efficiency Overview of last 5 days</h5>
    <div class="row mt-2">
      <div class="col-9">
        <div class="row align-items-center mt-3">
          <div class="col-12">
            <div [chart]="operatorScatter" style="height: 460px; width: auto"></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex flex-column mb-3">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <div class="ml-2">
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Location</span>
                  <span class="caret"></span></button>
                  <ul class="dropdownmenu">
                    <li class="custom-li"><a href="#" class="dropdown-label"><label class="ml-2"><input type="checkbox" class="locationSelectAll" /><span class="select-text" id="locationSelectText"> Select</span> All</label></a></li>
                    <li class="custom-li" *ngFor="let option of locationOptions"><a href="#" class="dropdown-label"><label class="ml-2"><input name='options[location]' (change)="onLocationChange($event)" type="checkbox" class="option justone location" [value]="option.Id" [id]="'location_' + option.Id"/> {{option.Name}}</label></a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Unit</span>
                  <span class="caret"></span></button>
                  <ul class="dropdownmenu"> 
                    <li class="custom-li"><a href="#" class="dropdown-label"><label class="ml-2"><input type="checkbox" class="unitSelectAll"/><span id="unitSelectText" class="select-text"> Select</span> All</label></a></li>
                    <li class="custom-li" *ngFor="let option of unitOptions"><a href="#" class="dropdown-label"><label class="ml-2"><input name='options[unit]' type="checkbox" class="option justone unit" [value]="option.Id" [id]="'unit_' + option.Id"/> {{option.Name}}</label></a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Line</span>
                  <span class="caret"></span></button>
                  <ul class="dropdownmenu"> 
                    <!-- <li class="custom-li"><a href="#" class="dropdown-label"><label class="ml-2"><input type="checkbox" class="lineSelectAll"/><span id="lineSelectText" class="select-text"> Select</span> All</label></a></li> -->
                    <li class="custom-li" *ngFor="let option of lineOptions"><a href="#" class="dropdown-label"><label class="ml-2"><input name='options[line]' type="radio" class="option justone line" [value]="option.Id" [id]="'line_' + option.Id"/> {{option.Name}}</label></a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">Start Date</span>
                    <input type="date" placeholder="Start Date">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">End Date</span>
                    <input type="date" placeholder="Start Date">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <button class="custom-button ml-2" (click)="getSewingKPIAnalysis()">Show Analysis</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- <div class="tab-pane fade show active hide-show" id="overallperformance" role="tabpanel" aria-labelledby="OverallPerformance-tab">
      <ul class="nav nav-pills">
        <li>
          <h4>Sewing - Low Efficiency Monitor</h4>
        </li>
        <li class="nav-item" style="margin-left: 30%;">
          <a class="nav-link active" href="#kpi" [ngClass]="{ 'active':activeTab==='search'}" (click)="kpi('kpi')"
            data-toggle="tab">Efficiency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#detailedAnalysis" [ngClass]="{ 'active':activeTab==='detailedAnalysis'}" data-toggle="tab"
            (click)="detailedAnalysis('detailedAnalysis')">Explore Historical Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#guidance" [ngClass]="{ 'active':activeTab==='guidance'}" data-toggle="tab"
            (click)="guidance('guidance')">Guidance</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="kpi" [ngClass]="{ 'active':activeTab==='kpi'}"> 
          <div class="row align-items-center h-100 mt-3">
            <div class="col-12">
              <p class="text-left" style="font-weight: bold; font-style: italic; font-size: 15px;">Analysis of Last 5 days data from 31 Jan,2021</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div [chart]="productionUnit" class="col-sm-12" style="width: 100px; height: 200px;"></div>
          </div>
          <div class="row align-items-center mt-3">
            <div [chart]="productionLine1" class="col-sm-3" style="height: 230px;"></div>
            <div [chart]="operatorLine1" class="col-sm-3" style="height: 230px;"></div>
            <div [chart]="productionLine2" class="col-sm-3" style="height: 230px;"></div>
            <div [chart]="operatorLine2" class="col-sm-3" style="height: 230px;"></div>
          </div>
        </div>

        <div class="tab-pane" id="detailedAnalysis" [ngClass]="{ 'active':activeTab==='detailedAnalysis'}">
          <div class="row align-items-center h-100 mt-3">
            <div class="col-2">
              <div class="d-flex flex-column">
                <span style="text-align: left !important;">Start Date</span>
                <ng-datepicker [(ngModel)]="startDate" [options]="options"></ng-datepicker>
              </div>
            </div>
            <div class="col-2 ml-4">
              <div class="d-flex flex-column">
                <span style="text-align: left !important;">End Date</span>
                <ng-datepicker [(ngModel)]="endDate" [options]="options"></ng-datepicker>
              </div>
            </div>
            <div class="col-2 ml-4 mt-3">
              <button class="custom-button">Show Analysis</button>
            </div>
          </div>
          <div class="row align-items-center h-100 mt-3">
              <div [chart]="efficiencyHistoryLocationWise" class="col-4" style="height: 350px;"></div>
              <div [chart]="efficiencyHistoryUnitWise" class="col-6" style="height: 350px;"></div>
              <div [chart]="efficiencyHistoryLineWise" class="col-6" style="height: 350px;"></div>
          </div>
        </div>

        <div class="tab-pane" id="guidance" [ngClass]="{ 'active':activeTab==='guidance'}">
          <div class="row align-items-center h-100">
            <div class="col-12 text-left">
              <p style="font-size: 16px; color: #d93954;">Dear User,</p>
            </div>
            <div class="col-12 text-left">
              <p style="font-size: 16px; color: #d93954;">There are multiple reasons for low efficiency. You may like to apply the following recommendations based on the issue identified:</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12">
              <table #dataTable class="display table table-striped" style="width:100%; overflow-y: scroll;">
                <thead class="thead-dark">
                  <tr>
                    <th>Reasons</th>
                    <th>Sub-Reasons</th>
                    <th>Recommendations</th>
                  </tr>
                </thead>
                <tbody style="background: #ffffff;">
                  <tr *ngFor="let item of recommendationData.allRecommendations; let i=index" style="text-align: left;">
                    <td>{{item.Reasons}}</td>
                    <td>{{item.SubReasons}}</td>
                    <td>{{item.Recommendations}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
  </section>
</main>