<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li>
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="recommendationsection">
    <h5 style="text-align: center; font-weight: bold;">Operators Recommendations</h5>
    <ul class="nav nav-pills nav-fill" id="ex1" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Low Efficiency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Medium Efficiency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">High Efficiency</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane active" style="text-align: left;">
        <div class="row mt-2">
          <div class="col-12" >
            <table class="table table-striped" style="background-color: #ffffff;">
              <thead class="thead-dark">
                  <tr>
                      <!-- <th style="width: 20%">
                          <mfDefaultSorter by="name" [mfShowSortableArrows]="true">Name</mfDefaultSorter>
                      </th> -->
                      <th style="width: 50%">
                          Reasons
                      </th>
                      <th style="width: 50%">
                        SubReasons
                      </th>
                      <th style="width: 50%">
                        Recommendations
                    </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of data; let ndx = index">
                      <!-- <td>{{item.Name}}</td> -->
                      <td>{{item.Reasons}}</td>
                      <td>{{item.SubReasons}}</td>
                      <td>{{item.Recommendations}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-2">
          <table class="table table-striped" style="background-color: #ffffff;" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" [mfSaveRowsOnPage]="true" (mfSelectedEntities)="setSelectedEntities($event)">
            <thead class="thead-dark">
                <tr>
                    <th style="width: auto">
                        <mfDefaultSorter [mfShowSortableArrows]="true" by="Name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: auto">
                      <mfDefaultSorter by="Machine">Working Machine</mfDefaultSorter>
                  </th>
                  <th style="width: auto">
                    <mfDefaultSorter by="Unit">Unit</mfDefaultSorter>
                  </th>
                  <th style="width: auto">
                    <mfDefaultSorter by="Location">Location</mfDefaultSorter>
                  </th>
                  <th style="width: auto">
                    <mfDefaultSorter by="Line">Line</mfDefaultSorter>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data; let ndx = index1">
                    <td>{{item.Name}}</td>
                    <td>{{item.Machine}}</td>
                    <td>{{item.Unit}}</td>
                    <td>{{item.Location}}</td>
                    <td>{{item.Line}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade"><br>
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </section>
</main>
