<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="font-family: 'Arial, Helvetica';">
  <a class="navbar-brand" href="#"><img style="height: 34px;" src="../../assets/img/PwC_Outline_Logo_White.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<nav class="col-3 col-3 d-none d-sm-block bg-light sidebar mt-5">
  <span class="ml-4" style="text-align: center; font-weight: bold; font-size: 17px;">Quick Links</span>
  <ul class="tree cutom-treestructure mt-3">
    <li (click)="dashboardNavigation()" id="dashbaord_href" style="cursor: pointer;">
      <span id="dashboard_span" class="d-none d-md-inline">Factory Overview</span>
    </li>
  
    <li>
      <a id="moduleperformance_href" (click)="tabNavigation($event)"><span id="moduleperformance_span" class="d-none d-md-inline">Operations</span></a>
      <ul class="cutom-treestructure">
        <li>
          Inward
        </li>
  
        <li>
          Processes
          <ul class="ml-4">
            <li>
              Fabric & Trims Store 
            </li>
  
            <li>
              Spreading & Cutting
            </li>
            <li (click)="sewingNavigation()" style="cursor: pointer;">
              Sewing 
            </li>
            <li>
              Finishing & Packaging
            </li>
          </ul>
        </li>
  
        <li>
          Outward
        </li>
      </ul>
    </li>
  
    <li>
      Social Sustainability
    </li>

    <li>
      Environmental Sustainability
    </li>
  </ul>
</nav>
<main role="main" class="col-9 ml-auto col-md-9 pt-3">
  <section class="text-center placeholders" id="dashboardsection">
    <h5 style="text-align: left; font-weight: bold; margin-left: 20%;">Efficiency and Defect Count of Operators</h5>
    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#lowOperator" [ngClass]="{ 'active':activeTab==='lowOperator'}" (click)="lowOperator('lowOperator')"
             data-toggle="tab">Low Efficiency High Defect Performers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#avgOperator" [ngClass]="{ 'active':activeTab==='avgOperator'}" data-toggle="tab"
             (click)="avgOperator('avgOperator')">High Efficiency Low Defect Performers</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#highOperator" [ngClass]="{ 'active':activeTab==='highOperator'}" data-toggle="tab"
             (click)="highOperator('highOperator')">High Performers</a>
        </li> -->
      </ul>
      <div class="col-9 mt-3" style="background-color: #ffffff; overflow-y: scroll; height: 420px;">
        <div class="tab-content">
          <div class="tab-pane active" id="lowOperator" [ngClass]="{ 'active':activeTab==='lowOperator'}">
            <div class="row align-items-center">
              <div class="col-12">
                <table class="table table-striped mt-2">
                  <thead class="thead-dark">
                      <tr>
                        <th>
                          Operator Name
                        </th>
                        <th>
                          Efficiency
                        </th>
                        <th>
                          Defect Count
                        </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of lowEfficiencyHighDefectOperatorSummaryDataList; let ndx = index">
                          <td>{{item.OperatorName}}</td>
                          <td>{{item.Efficiency}}</td>
                          <td>{{item.DefectCount}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="avgOperator" [ngClass]="{ 'active':activeTab==='avgOperator'}">
            <div class="row align-items-center">
              <div class="col-12">
                <table class="table table-striped mt-2">
                  <thead class="thead-dark">
                    <tr>
                      <th>
                        Operator Name
                      </th>
                      <th>
                        Efficiency
                      </th>
                      <th>
                        Defect Count
                      </th>
                    </tr>
                </thead>
                  <tbody>
                      <tr *ngFor="let item of highEfficiencyLowDefectOperatorSummaryDataList; let ndx = index">
                        <td>{{item.OperatorName}}</td>
                        <td>{{item.Efficiency}}</td>
                        <td>{{item.DefectCount}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>  
          </div>
          <div class="tab-pane" id="highOperator" [ngClass]="{ 'active':activeTab==='highOperator'}">
            <div class="row align-items-center">
              <div class="col-12">
                <p>This is third tab</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 mt-3">
        <div class="d-flex flex-column mb-3">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -36%;">Select Locations</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu">
                          <li class="custom-li" *ngFor="let option of locationOptions"><a href="#" class="dropdown-label"><label class="ml-2"><input name='options[location]' (change)="onLocationChange($event)" type="checkbox" class="option justone location" [value]="option.Id" [id]="'location_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -54%;">Select Unit</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of unitOptions"><a href="#" class="dropdown-label"><label class="ml-2 unit_label" [id]="'unit_label_' + option.Id" style="display: none;"><input name='options[unit]' type="checkbox" class="option justone unit" [value]="option.Id" [id]="'unit_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span class="text-align: left;" style="margin-left: -50%;">Select Lines</span>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdownmenu"> 
                          <li class="custom-li" *ngFor="let option of lineOptions"><a href="#" class="dropdown-label"><label class="ml-2 line_label" [id]="'line_label_' + option.Id" style="display: none;"><input name='options[line]' type="radio" class="option justone line" [value]="option.Id" [id]="'line_' + option.Id"/> {{option.Name}}</label></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">Start Date</span>
                    <input type="date" placeholder="Start Date" id="startDate">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <div class="ml-2">
                  <div class="d-flex flex-column">
                    <span style="text-align: left;">End Date</span>
                    <input type="date" placeholder="End Date" id="endDate">
                  </div>
                </div>
              </li>
              <li class="nav-item mt-3">
                <button class="custom-button ml-2" (click)="getSewingKPIAnalysis()">Show Analysis</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="mt-2">
        <button class="custom-button ml-2" (click)="navigateWIPOperator()">Overview</button>
        <button class="custom-button ml-2" (click)="navigateWIPSummary">Operator</button>
      </div>
    </div>
  </section>
</main>